<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="project.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == project.user._id))">
		<a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="project.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="project.user.displayName"></span>
		</em>
	</small>
	<div class="row">
		<div class="col-md-12">
			No.Of People:
			<span data-ng-bind="project.numOfPeople"></span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			Billable Head Count:
			<span data-ng-bind="project.billableHeadCount"></span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			Bench Count:
			<span data-ng-bind="project.benchCount"></span>
		</div>
	</div>
</section>
